<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Расчет себестоимости</title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300&amp;subset=cyrillic" rel="stylesheet">


</head>
<body>


<main id='app'>

<!--===========================
            Items
===============================-->

<ul class="list">
    <li
    v-for="(item, index) in products"
    :key="index"
    class="list__item item">
      <input type="text" v-model="item.name" placeholder="Наименование">
      <input type="number" v-on:keyup="countCostPerClient(item)" v-model.number="item.cost" placeholder="Стоимость" >
      <input type="number" v-on:keyup="countCostPerClient(item)" v-model.number="item.value" placeholder="Объем" >
      <input type="number" v-on:keyup="countCostPerClient(item)" v-model.number="item.valuePerClient" placeholder="Трата на единицу">
      <div class="price">
        <span class="item__sum-one"> {{ item.costPerClient }} </span>
        <span> руб.</span>
      </div>

      <div class="icons">

        <svg v-on:click="removeItem(index)" class="cross" viewBox="0 0 24 24">
          <path xmlns="http://www.w3.org/2000/svg" d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"></path>
        </svg>
        <svg v-on:click="resetData(item)" class="reset" viewBox="0 0 24 24">
           <path d="M12 0c3.31 0 6.291 1.353 8.459 3.522l2.48-2.48 1.061 7.341-7.437-.966 2.489-2.489c-1.808-1.807-4.299-2.928-7.052-2.928-5.514 0-10 4.486-10 10s4.486 10 10 10c3.872 0 7.229-2.216 8.89-5.443l1.717 1.046c-2.012 3.803-6.005 6.397-10.607 6.397-6.627 0-12-5.373-12-12s5.373-12 12-12z"/>
        </svg>

      </div><!-- end icons -->
    </li>
</ul>


  <footer class="footer">
    <p class="footer__item">Расчет себестоимости (vue.js)</p>
    <span class="footer__item"><a target="blank" href="https://vk.com/postnov_daniil">Постнов Даниил</a></span>
  </footer>






<!--===========================
         Aside Panel
===============================-->


  <aside class="result">
    <div class="result__item ">
      <button v-on:click="addItem" class="add-item">+</button>
    </div>
    <div class="result__item">
      <span>{{ totalCount }}</span>пунктов
    </div>
    <div class="result__item ">
      <span>{{ finalCostPerClient ? finalCostPerClient : 0 }}</span> руб. на единицу
    </div>



  </aside>


</main>



<script src="vue.js"></script>
<script src="script.js"></script>

</body>
</html>
