body{
  font:20px/23px 'Roboto',sans-serif;
  font-weight: 300;
  background: #f5f5f5;

}


/*==================================
              Items
===================================*/


.list{
    width: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    padding-bottom: 150px;
    padding-left: 0;
}

.item{
    position: relative;
    background: #fff;
    padding: 30px;
    min-height: 40px;
    margin: 20px 0 5px 10px;
    -webkit-box-shadow: 0 1px 6px -1px #999;
            box-shadow: 0 1px 6px -1px #999;
    -ms-flex-pack: distribute;
    -webkit-justify-content: space-around;
            justify-content: space-around;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
            align-items: center;
}

input{
  outline: none;
  font-size: 17px;
  max-width: 215px;
  width: 100%;
  margin: 10px;
  padding: 7px;
  text-align: center;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
          box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
  -webkit-border-radius: 3px;
          border-radius: 3px;
}

::-webkit-input-placeholder {font-size: 13px;}
::-moz-placeholder          {font-size: 13px;}/* Firefox 19+ */
:-moz-placeholder           {font-size: 13px;}/* Firefox 18- */
:-ms-input-placeholder      {font-size: 13px;}


.price,
.icons{
  margin: 15px 20px;
}

.item__sum-one{
  display: inline-block;
  text-align: center;
  font-size: 25px;
}


.cross,
.reset{
  width: 20px;
  height: 20px;
  fill: #666;
}

.cross:hover,
.reset:hover{
  fill:darkred;
  cursor: pointer;
}




/*====================================
              Result
=====================================*/

.result{
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 20%;
  background-color: #446CB3; /*#8E44AD*/

  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  /* display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
   align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
   justify-content: center; */
}

.result__item{
  width: 100%;
  /* padding: 50px 10px; */
  color: #fff;
  text-align: center;
  max-width: 100%;
  word-break: break-word;
  line-height: 1.1;
}

.result__item > span{
   font-size: 70px;
   font-weight: 100;
   /* margin: 50px 0; */
   display: block;
}


.add-item{
  border: none;
  color: #fff;
  -webkit-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
  cursor: pointer;
  outline: none;
  font-size: 100px;
  line-height: .3;
  font-weight: 100;
  background: transparent;
  /* position: absolute;
  top: 50px; */
}

.add-item:active,
.result-show:active{
  -webkit-box-shadow: none;
          box-shadow: none;
}


/*================================
           Footer
=================================*/

.footer{
  position: fixed;
  bottom: 0;
  width: 80%;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-align-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: distribute;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
          justify-content: space-around;
  background: #f5f5f5;
}

.footer__item{
  -webkit-flex-basis: 30%;
      -ms-flex-preferred-size: 30%;
          flex-basis: 30%;
  text-align: center;
  color: #515151;
}

.footer__item a{
  color: #515151;
  text-decoration: none;
  border-bottom: 1px solid #515151;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

.footer__item a:hover{
  text-decoration: none;
  color: #b35d5d;
  border-color: #b35d5d;
}



@media only screen and (max-width: 1800px){

  .item{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-flex-basis: 18%;
        -ms-flex-preferred-size: 18%;
            flex-basis: 18%;
    width: 18%;
    margin: 1%;
  }


}


@media only screen and (max-width: 1000px){
  .item{
    -webkit-flex-basis: 22%;
        -ms-flex-preferred-size: 22%;
            flex-basis: 22%;
    width: 22%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .result{
    left: 0;
    bottom: 0;
    top: auto;
    right: auto;
    width: 100%;
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: wrap row;
        -ms-flex-flow: wrap row;
            flex-flow: wrap row; */
    height: auto;
    padding: 10px 0;
  }

  .result__item{
    width: 27%;
    padding: 10px;
    font-weight: 100;
  }

  .result__item > span{
    font-size: 30px;
    margin: 10px 0;
  }

  .add-item{
    position: relative;
    top: auto;
    font-size: 60px;
  }

  .list{
    width: 100%;
    padding-bottom: 250px;
  }

  .footer{
    width: 100%;
    bottom: 106px;
  }

  .footer__item{
    font-size: 15px;
  }
}



@media only screen and (max-width: 785px){
  .footer {
    display: none;
  }

  .result__item {
    font-size: 11px;
    padding: 5px 10px;
    font-weight: 400;
  }

  .add-item {
    font-size: 50px;
  }

  .result__item > span {
    font-size: 25px;
  }

  .result {
    padding: 0;
  }

  .item{
    -webkit-flex-basis: 38%;
        -ms-flex-preferred-size: 38%;
            flex-basis: 38%;
    width: 38%;

  }
}


@media only screen and (max-width: 550px){
  .item{
    -webkit-flex-basis: 70%;
        -ms-flex-preferred-size: 70%;
            flex-basis: 70%;
    width: 70%;
  }
}
